.social-nav {

    .btn {
        border: 2px solid #d4d4d4;
        font-size: 2rem;
        height: 4.2rem;
        width: 4.2rem;
        transition: all .5s;

        &:not(:last-child) {
            margin-right: 1rem;
        }

        &:hover {
            color: $primary-color;
            border-color: currentColor;
        }
    }
}