.sub-nav {
    margin: 4.5rem 0 3.5rem;

    &__link.nav-link.text-uppercase {
        cursor: pointer;
        display: block;
        font-size: 1.4rem;
        color: $heading-color;
        padding: .6rem 1.6rem;
        border-radius: 3rem;
        margin: .5rem .8rem;
        transition: all .5s;

        &.nav-link:hover, &.active {
            background-color: $primary-color;
            color: white;
        }

    }
}