.nav-scroll-bottom {
    padding: 1.5rem 0;
    background-color: white;

    .navbar-nav .nav-item .nav-link {
        color: $nav-color-1;
        line-height: 2.4rem;
    }

    picture {
        display: none;
    }

    .navbar-brand {
        .img-bottom {
            display: block;
        }
    }

    &.navbar-dark {

        .navbar-toggler {
            color: black;
        }
    }
}

.nav-scroll-top {
    .navbar-brand {
        .img-bottom {
            display: none;
        }
    }
}

@include media-breakpoint-up(sm) {
    .nav-scroll-top {
        padding: 2rem 0;
        background-color: transparent;
    
        .navbar-nav .nav-item .nav-link {
            color: $nav-color-2;
        }
    }

} 