.font-weight-500 { font-weight: 500 !important; }
.font-weight-600 { font-weight: 600 !important; }
.font-weight-700 { font-weight: 700 !important; }

.mont-font { font-family: $mont !important; }
.nunito-font { font-family: $nunito !important; }

.primary-heading { font-size: 3.2rem !important; }

.heading-color { color: $heading-color !important; }
// .para-color { color: $para-color !important; } /** text-muted class functionality (in bootstrap)

.primary-btn { background-color: #eeeeee !important; }

.nav-color-2 { color: $nav-color-2 !important; }

.primary-color { color: $primary-color !important; }