.callus {

    &__box {

        i {
            color: $primary-color;
            font-size: 4rem;
        }
    }

    &__form {

        .form-control {
            font-size: 1.6rem;
            padding: 2.2rem 1.5rem;
            border: 2px solid #e0e0e0;
            border-radius: 4px;

            &:focus {
                border-color: $primary-color;
            }
        }
    }
}