.footer {
    background-color: #242424;

    .social-nav {

        .btn {
            color: #6C757D;
            border: none;
            background-color: #343434;
            font-size: 2rem;
            margin: 0 .5rem;
        }
    }

    p {
        font-size: 1.8rem;
    }
}