.header {
    background: url(../img/header-bg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;

    @include media-breakpoint-up(md) {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 100%, 0 80%);

    }

    &__heading {

        @include media-breakpoint-up(md) {
            height: 100vh;
        }

        position: relative;
        z-index: 999;

        &__container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &--1 {
            font-size: 2.4rem;
            margin-bottom: 2.4rem;
        }

        &--2 {
            font-size: 5.4rem;
            
            .element {
                font-weight: 500;

                @include media-breakpoint-down(sm) {
                    font-size: 3.8rem;
                }
            }
        }

        &--paragraph {
            max-width: 50rem;
            margin: 2.4rem auto 1.6rem;
            color: #c6c6c6;
            line-height: 1.8;
            font-weight: 600;
        }

        &--link {
            font-size: 1.4rem;
            padding: 1.5rem 3.2rem;
            border: 2px solid white;
            transition: all .6s;

            &:hover {
                color: black !important;
                background-color: white;
                border-color: white;
            }
        }
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.75);
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 998;
    }
}